.memotest-square {
  width: 100px;
  height: 100px;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  cursor: pointer;
}

.memotest {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 100px);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

.purple {
  background-color: purple;
}

.blue {
  background-color: blue;
}

.discarded {
  background-color: rgb(66, 66, 66);
}

.winner-card {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #365324;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
  color: black;
}

.winner-card:not(.winner-card--hidden) {
  transition: opacity ease-in-out 0.7s;
}

.winner-card-text {
  margin-bottom: 10px;
}

.winner-card--hidden {
  opacity: 0;
  pointer-events: none;
}
